<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="LetsDish">
    <div class="navbar navbar-inverse navbar-fixed-top" id="navigation">
        <div class="container">
            @*<div class="navbar-header">*@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class ="navbar-brand" href="/#!/">Let's Dish!</a>
                <img src="~/images/LetsDishLogo.png" id="logo"/>
            </div>*@

            <div class="navbar-header logoHeader">
                @*<a class="navbar-brand" href="#">
                    <img alt="Brand" id="logoImg" src="~/images/LetsDishLogo.png">
                </a>*@
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/#!/">Let's Dish!</a></li>
            </ul>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/#!/">Home</a></li>
                        <li><a href="/#!/addRecipe">Add a Recipe</a></li>
                        <li><a href="/#!/events">Events</a></li>
                        @*<li><a href="/#!/myFriends">Friends</a></li>*@
                        <li><a href="/#!/shoppingList">Shopping List</a></li>

                    </ul>
                </div>
</div>
    </div>

    <div class="container body-content" id="allContent">
        @RenderBody()
    </div>
        <footer>
            <img src="~/images/Letsdishfooter.png" id="footerimg"/>
            <p id="footNote">&copy; @DateTime.Now.Year - Let's Dish! by Full-Stack Finch</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
